
<div class="utopia">
	<div class="utopia_header">
		<div class="container header_wrapper">
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="images/images.png">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="new">
	<div class="utopia_body">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="utopia_body_inner">
						<div class="title_utopia">
							<h1>Welcome To Utopia</h1>
						</div>
						<div class="row bs-wizard">
                			<div class="col-md-6 bs-wizard-step complete">
                  				<div class="progress">
                  					<div class="progress-bar">
                  					
                  					</div>
                  				</div>
                  					<a href="#" class="bs-wizard-dot">1</a>
                			</div>
                			<div class="col-md-6 bs-wizard-step complete"><!-- complete -->
                  				<div class="progress">
                  					<div class="progress-bar">
                  						
                  					</div>
                  				</div>
                  					<a href="#" class="bs-wizard-dot next_page">2</a>
              				</div>
              			</div>
              			<div class="row">
              				<i class="fa fa-camera" aria-hidden="true"></i>
              			</div>
              			<div class="utopia_body_content">
              					<div class="row utopia_content_row">
              						<div class="col-md-12">
              							<label>Name</label>
              							<input class="input_fields" id="name_utopia" type="text" name="">
              							<label>E-mail Address</label>
              							<input class="input_fields" id="email_utopia" type="text" name="">
              							<div class="user_info">
              								<div class="col-md-6">
              									<label id="password_label">Password</label>
              									<input class="fields_input" id="password_utopia" type="password" name="">
              									<label>Age</label>
              									<input class="fields_input" id="age_utopia" type="text" name="">
              								</div>
              								<div class="col-md-6">
              									<label id="confirm_label">Confirm password</label>
              									<input class="fields_input" id="confirm_utopia" type="password" name="">
              									<label>Gender</label>
              									<input class="fields_input" id="gender_utopia" type="text" name="">
              								</div>
              							</div>
              							<label>Profession</label>
              							<input class="input_fields" id="profession_utopia" type="text" name="">
              							<label>About</label>
              							<textarea class="input_fields" id="about_utopia" rows="4"></textarea>
              							<label>City</label>
              							<input class="input_fields" id="city_utopia" type="text" name="">
              						</div>
              					</div>
              			</div>
              			<button id="utopia_button_next">Next</button>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
